@model AspNetMVCLibraryManagement.Model.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="css/style.css">
    <title>Login</title>
</head>
<body>
    <div class="main">
        <p class="sign" align="center">Sign in</p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.TextBoxFor(model => model.Email, new { @class = "un", @placeholder = "Email" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

            @Html.TextBoxFor(model => model.Password, new { @class = "pass", @placeholder = "Password" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

            <input type="submit" value="Login" class="btnsubmit" />
        }

    </div>
</body>
</html>